*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background-color: #1f4e91;
    height:100%;
    width:100%;
}
.body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #1f4e91;

}
.container{
    margin:auto;
    vertical-align: middle;
    padding-top: 20px;
    width: 80%;
    height: 700px;
    background-color: white;
    border-radius: 1%;
    align-items: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    padding-top: 35px;
}
.attributes{
    float: left;
    margin:auto;
    border-left:solid white 75px;
    width:30%;
    height:80%;
}
.plan1, .plan2, .plan3, .plan4{
    float:left;
    width:15%;
    height:80%;
}
.body .container .button-holder{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #1f4e91;
    width: 180px;
    height:90px;
    margin:auto;
    border: solid 5px white;
    border-radius: 50px;
}
.body .container .button-holder .button-monthly, .button-yearly{
    border: solid white 2px;
    color: #1f4e91;
    border-radius: 25px;
    margin:auto;
    width:75px;
    height:50px;
}
strong{
    text-align: center;
    padding: 20%;
    border: 20px solid white;
}
.submit{
    background-color: #1f4e91;
    color:white;
    border:solid 2px white;
    text-align: center;
    width: 25%;
    height:40px;
    margin-left: 40%;
}